<html>
<body>
<h1>NEW ARTWORK</h1>
<%= form_for [@col, @art] do |f| %>

<% @art.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
      
	<p><b>Title: </b><%= f.text_field :title %></p>
	<p><b>Image: </b><%= f.text_field :image %></p>
	
				<p> <%= f.hidden_field :collection_id %></p>
	<p><%= f.submit "Create"%></p>
	<% end %>
	
	<h2><font size="2" face="calibri" color="black">
	<p><a href = "/collections/<%= @col.id %>/artworks">Back</a></p></font></h2>  
	</body>
</html>
